/**
 * Button styes
 */

@import "../../styles/settings/variables.scss";

.c-button {
  --bg-color: #{$blue};
  --bg-hover-color: #{$darkBlue};
  --text-color: white;

  display: flex;
  align-items: center;

  border: none;
  padding: 10px 20px;
  border-radius: 3px;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);

  &:not(:disabled) {
    cursor: pointer;
    background-color: var(--bg-color);
    transition: 0.2s all ease;
    &:hover {
      background-color: var(--bg-hover-color);
    }
  }

  // disabled
  &:disabled {
    --bg-color: #{$grey};
    --text-color: #{$darkGrey};
  }

  // small button
  &--small {
    padding: 8px 15px;
    font-size: 1.4rem;
  }

  // secondary
  &--secondary:not(:disabled) {
    --bg-color: #{$green};
    --bg-hover-color: #{$darkGreen};
  }

  // terciary
  &--terciary:not(:disabled) {
    --bg-color: #{$orange};
    --bg-hover-color: #{$darkOrange};
  }

  // icon
  &__icon {
    margin-right: 10px;
  }
}
