/**
 * Button styes
 */

@import "../../styles/settings/variables.scss";

.c-button {
  --bg-color: #{$blue};
  --bg-hover-color: #{$darkBlue};

  border: none;
  padding: 10px 20px;
  background-color: var(--bg-color);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s all ease;

  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: white;

  &:hover {
    background-color: var(--bg-hover-color);
  }

  // small button
  &--small {
    padding: 8px 15px;
    font-size: 1.4rem;
  }

  // secondary
  &--secondary {
    --bg-color: #{$green};
    --bg-hover-color: #{$darkGreen};
  }

  // terciary
  &--terciary {
    --bg-color: #{$orange};
    --bg-hover-color: #{$darkOrange};
  }

}
